In [1]:
import numpy as np

In [3]:
# data types

# ints vs. floats
c = 7
d = 7.0

print(c,d)

7 7.0

In [4]:
print( type(c) )
print( type(d) )

<class 'int'>
<class 'float'>

In [7]:
for i in range(c):
    print(i)

0
1
2
3
4
5
6

In [8]:
c+d

14.0

In [13]:
firstName = 'Mike'
lastName = 'Cohen'

firstName + ' ' + lastName # overloading

'Mike Cohen'

In [14]:
firstName * 3

'MikeMikeMike'

In [15]:
%whos

Variable    Type      Data/Info
-------------------------------
c           int       7
d           float     7.0
firstName   str       Mike
i           int       6
lastName    str       Cohen
np          module    <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
os          module    <module 'os' from 'C:\\Us<...>\\anaconda3\\lib\\os.py'>
sys         module    <module 'sys' (built-in)>

In [24]:
# Exercises!

# convert across datatypes
s1 = '4'
s2 = '4.7'
n1 = 5
n2 = 5.8

# convert the strings to integers
i1 = int(s1)
print(i1)
i2 = int((float(s2)))
print(i2)

# convert the strings to floats
f1 = float(s1)
print(f1)
f2 = float(s2)
print(f2)

# convert the numbers into strings
s3 = str(n1)
print(s3)
s4 = str(n2)
print(s4)

4
4
4.0
4.7
5
5.8